@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* index.css */

/* Tailwind v4 da Dark Mode klass orqali ishlashi uchun */
@theme {
  /* Bu yerda o'zgaruvchilar bo'lishi mumkin */
}

/* 
   v4 da standart bo'yicha dark: klassi ham media, ham classga qaraydi. 
   Lekin faqat klassga bog'lab qo'yish uchun quyidagi qatorni qo'shish tavsiya etiladi:
*/
@custom-variant dark (&:where(.dark, .dark *));
* {
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
}
@layer base {
  body {
    @apply bg-white text-black dark:bg-black dark:text-white transition-colors duration-300;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}
.animate-scroll-reverse {
  animation: scroll-reverse 40s linear infinite;
}
.text-outline {
  -webkit-text-stroke: 1px currentColor;
  color: transparent;
}
.glass-stat {
  @apply flex items-center gap-3 px-4 py-3 rounded-2xl
  bg-white/10 backdrop-blur-xl
  border border-white/20
  font-black text-sm uppercase
  shadow-lg;
}
.modal-stat {
  @apply flex items-center gap-3 px-4 py-3 rounded-2xl
  font-black uppercase text-sm
  transition-all

  /* LIGHT */
  bg-zinc-300 text-zinc-800 border border-zinc-900

  /* DARK */
  dark:bg-white/10 dark:text-white
  dark:border-white/20 dark:backdrop-blur-xl;
}
