@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Dark mode klass orqali ishlashi uchun --- */
@custom-variant dark (&:where(.dark, .dark *));

/* Umumiy o‘tish effektlari */
* {
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-black dark:text-white transition-colors duration-300;
  }
}

/* --- Animatsiyalar --- */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}

.animate-scroll-reverse {
  animation: scroll-reverse 40s linear infinite;
}

.animate-scroll:hover,
.animate-scroll-reverse:hover {
  animation-play-state: paused;
}

@media (max-width: 350px) {
  .animate-scroll,
  .animate-scroll-reverse {
    animation-duration: 25s;
  }
}

/* --- Maxsus klasslar --- */
.text-outline {
  -webkit-text-stroke: 1px currentColor;
  color: transparent;
}

.glass-stat {
  @apply flex items-center gap-3 px-4 py-3 rounded-2xl
  bg-white/10 backdrop-blur-xl
  border border-white/20
  font-black text-sm uppercase
  shadow-lg;
}

.modal-stat {
  @apply flex items-center gap-3 px-4 py-3 rounded-2xl
  font-black uppercase text-sm
  transition-all
  bg-zinc-300 text-zinc-800 border border-zinc-900
  dark:bg-white/10 dark:text-white
  dark:border-white/20 dark:backdrop-blur-xl;
}
@keyframes spin-y {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.animate-spin-y {
  animation: spin-y 2s linear infinite;
  transform-style: preserve-3d;
}
